<?xml version="1.0"?>
<launch>
  <!-- Velodyne LiDAR Launch Configuration -->
  
  <!-- Configurable Parameters -->
  <arg name="sensor_ns" default="velodyne" />
  <arg name="device_ip" default="192.168.1.201" />
  <arg name="port" default="2368" />
  <arg name="gps_time" default="false" />
  <arg name="frame_id" default="velodyne" />
  <arg name="model" default="VLP16" />
  <arg name="read_fast" default="true" />
  <arg name="read_once" default="false" />
  <arg name="repeat_delay" default="0.0" />
  <arg name="rpm" default="1200.0" />
  <arg name="output" default="screen" />
  
  <group ns="$(arg sensor_ns)">
  <!-- Start nodelet manager and driver nodelets -->
  <include file="$(find velodyne_driver)/launch/nodelet_manager.launch">
    <arg name="device_ip" value="$(arg device_ip)"/>
    <arg name="frame_id" value="$(arg frame_id)"/>
    <arg name="manager" value="$(arg frame_id)_nodelet_manager" />
    <arg name="model" value="$(arg model)"/>
    <arg name="port" value="$(arg port)"/>
    <arg name="read_fast" value="$(arg read_fast)"/>
    <arg name="read_once" value="$(arg read_once)"/>
    <arg name="repeat_delay" value="$(arg repeat_delay)"/>
    <arg name="rpm" value="$(arg rpm)"/>
    <arg name="gps_time" value="$(arg gps_time)"/>
  </include>

  <!-- Start transform nodelet -->
  <include file="$(find velodyne_pointcloud)/launch/transform_nodelet.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="calibration" value="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
    <arg name="manager" value="$(arg frame_id)_nodelet_manager" />
    <arg name="max_range" value="130.0"/>
    <arg name="min_range" value="0.4"/>
    <arg name="organize_cloud" value="false"/>
  </include>
  
  <!-- TF broadcaster for LiDAR frame -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne_tf_broadcaster"
        args="0 0 0.5 0 0 0 base_link $(arg frame_id)" />
  </group>
</launch>
