<?xml version="1.0"?>
<launch>
  <!-- Master Launch File: All Sensors Configuration -->
  
  <!-- Global Parameters -->
  <arg name="enable_realsense" default="false" />
  <arg name="enable_velodyne" default="true" />
  <arg name="enable_xsens" default="true" />
  <arg name="enable_nmea" default="true" />
  <arg name="enable_davis346" default="true" />
  <arg name="enable_zed2i" default="false" />
  
  <!-- Robot Configuration -->
  <arg name="robot_name" default="romer" />
  <arg name="base_frame" default="base_link" />
  <arg name="output" default="screen" />
  

  
  <!-- Include all sensors under a single namespace -->
  <group ns="$(arg robot_name)">
    <!-- RealSense Camera -->
    <group if="$(arg enable_realsense)">
      <include file="$(find sensor_launch)/launch/sensors/realsense.launch">
        <arg name="camera_name" value="$(arg robot_name)_realsense" />
        <arg name="output" value="$(arg output)" />
      </include>
    </group>

    <!-- Velodyne LiDAR -->
    <group if="$(arg enable_velodyne)">
      <include file="$(find sensor_launch)/launch/sensors/velodyne.launch">
        <arg name="frame_id" value="$(arg robot_name)_velodyne" />
        <arg name="output" value="$(arg output)" />
      </include>
    </group>

    <!-- XSens IMU -->
    <group if="$(arg enable_xsens)">
      <include file="$(find sensor_launch)/launch/sensors/xsens.launch">
        <arg name="output" value="$(arg output)" />
      </include>
    </group>

    <!-- NMEA GPS -->
    <group if="$(arg enable_nmea)">
      <include file="$(find sensor_launch)/launch/sensors/nmea_gps.launch">
        <arg name="output" value="$(arg output)" />
      </include>
    </group>

    <!-- DVS Event Camera -->
    <group if="$(arg enable_davis346)">
      <include file="$(find sensor_launch)/launch/sensors/davis346.launch">
        <arg name="output" value="$(arg output)" />
      </include>
    </group>
  </group>
  

  
</launch>
